@media screen and (max-width: 1024px) {
    section {
        padding: 55px 0 60px !important;
        
        &.secondary-bg {
            &::before {
                width: 100% !important;
                border-radius: 0px !important;
            }
        }
    }
    
    .container {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .header-nav {
        padding: 18px 0;
    }

    .header-nav-logo {
        max-width: 126px;
    }

    .mobile-container {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        flex-direction: column;
        background-color: $secondary-bg-color;
        padding: 0 40px 60px;
        align-items: center;

        &.show {
            display: flex;
        }

        &> .btn {
            padding: 22px 84px;
        }
    }
    
    .header-nav-list {
        flex-direction: column;
        padding: 37px 12px 34px;
        gap: 0;
        font-size: 24px;
        line-height: 222%;
    }

    .first-screen {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .slider-info {
        padding: 0 !important;

        .swiper-slide {
            min-height: calc(100vh - 72px);
            border-radius: 0;
            padding: 63px 20px 0;
            background-position: center;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #04051199;
            }
        }
    }

    .banner {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .banner-title {
            font-size: 32px;
            margin-bottom: 10px;
            max-width: 335px;
        }

        .banner-description {
            font-size: 16px;
            margin-bottom: 18px;
            max-width: 277px;
        }

        .btn-lg {
            padding: 20px 33px;
        }
    }

    .template-title {

        &::after {

        }
    
        h2 {
            font-size: 24px !important;
        }

        h3 {
            font-size: 18px !important;
        }

        &.half-section {
            margin: 0 auto;
            text-align: center !important;
        }
    }    
}


