@media screen and (max-width: 1024px) {
    .container {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .header-nav {
        padding-top: 17px;
        padding-bottom: 15px;
    }

    .header-nav-logo {
        max-width: 126px;
    }

    .mobile-container {
        display: none;
        position: absolute;
        top: 67px;
        left: 0;
        flex-direction: column;
        background-color: $secondary-bg-color;
        padding: 0 40px 60px;
        align-items: center;

        &.show {
            display: flex;
            z-index: 3;
        }

        &> .btn {
            padding: 22px 84px;
        }
    }
    
    .header-nav-list {
        flex-direction: column;
        padding: 37px 12px 34px;
        gap: 0;
        font-size: 24px;
        line-height: 222%;
    }
}


