.advantage {
    max-width: 263px;
    margin: 0 auto;
    text-align: center;

    .img-box {
        width: 93px;
        height: 93px;
        background: $icon-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 10px auto 32px;
        position: relative;

        &::before {
            content: "";
            width: 113px;
            height: 113px;
            border: 1px solid #6C7188;
            position: absolute;
            top: -10px;
            left: -10px;
            border-radius: 50%;
        }
    }

    .advantage-title {
        font-weight: 400;
        line-height: 1.22;
        margin: 0;
        min-height: 66px;
    }

    .swiper-pagination {
        position: static;
        margin-top: 8px;
    }
}