.header-nav {
    @extend .container;
    display: flex;
    padding-top: 26px;
    padding-bottom: 39px;
    position: relative;
}

.mobile-container {
    display: flex;
    width: 100%;
}

.header-nav-list {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 0 12px;

    a {
        color: $color;
        text-decoration: none;
        font-weight: 400;
    }
}