.page-markup {
    margin: 50px 0;
}

.box-bg-color,
.box-bg-highlight-color,
.box-button-color,
.box-icon-color {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
}

.box-bg-color {
    background-color: $primary-bg-color;
    border: 1px solid #FFFFFF;
}

.box-bg-highlight-color {
    background-color: $secondary-bg-color;
}

.box-button-color {
    background-color: $primary-btn-color;
}

.box-icon-color {
    background-color: $icon-color;
}

.markup-box-form .form-checkbox {
    margin-bottom: 50px;
}