.service {
    .slider-template {
       
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            width: var(--padding);
            height: 100%;
            background: $secondary-bg-color;
            z-index: 2;
        }

        &::after {
            left: calc(100% - var(--padding));
        }
    }

    .template-card {
        position: relative;
        text-align: left;
        display: flex;
        flex-direction: column;

        &::before {
            content: "";
            position: absolute;
            background: linear-gradient(0deg, rgba(4,5,17,0.91) 0%, rgba(88,88,88,0) 100%);
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
        }

        > * {
            z-index: 1;
        }
    }

    .card-title {
        margin-top: auto;
    }

    .card-description {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 14px;
    }

    .btn-row {
        justify-content: left;
    }
}