header                                             { z-index: 15; }

.slider-info .arrow-container                      { z-index: 2; }

@media screen and (max-width: 1024px) {
    .slider-info .swiper-slide::before             { z-index: -1; }
}

body.overflow-hidden::before                       { z-index: 14; }