<section class="calculation">
    <div class="container">
        <div class="template-title half-section">
            <h2>Получить рассчет стоимости доставки вашего груза</h2>
        </div>
        <form class="calculation-form">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-box">
                        <label for="item">Категория товара:</label>
                        <input id="item" type="text" placeholder="Категория товара">
                    </div>
                    <div class="input-box">
                        <label for="weight">Вес груза (кг):</label>
                        <input id="weight" type="text" placeholder="Введите вес">
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="price">Стоимость груза:</label>
                        <input id="price" type="text" placeholder="Введите стоимость">
                    </div>
                    <div class="input-box">
                        <label for="volume">Объем груза (м3):</label>
                        <input id="volume" type="text" placeholder="Введите объем">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="option-box">
                        <div class="control-box">
                            <input id="insurance" type="checkbox" value="insurance">
                            <label for="insurance">Страховка</label>
                        </div>
                        <div class="control-box">
                            <input id="clearance" type="checkbox" value="clearance">
                            <label for="clearance">Таможенное оформление</label>
                        </div>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="code">Код ТН ВЭД:</label>
                        <input id="code" type="text" placeholder="Введите код">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="input-box">
                        <div class="file-name">фотография.jpeg</div>
                        <input id="calculation-file" class="calculation-file" type="file">
                        <label for="calculation-file" class="calculation-label">Загрузить фото товара</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <button type="button" class="btn btn-primary btn-lg">
                        Следующий шаг
                        <img class="btn-arrow" src="assets/img/img-arrow-right.svg" alt="arrow">
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>