<section class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="slider-template">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="template-card">
                        <div class="img-box">
                            <img src="assets/img/img-delivery-1.png" class="img-card" alt="delivery-1">
                        </div>
                        <h4 class="card-title">Авто - обычная</h4>
                        <div class="card-options">
                            <div class="option-list">
                                <div class="option-item"><img src="assets/img/icon-delivery-1.svg" alt="calendar">9-15 дней</div>
                                <div class="option-item"><img src="assets/img/icon-delivery-2.svg" alt="box">от 5 кг</div>
                            </div>
                            <div class="card-price">
                                <span>от</span>
                                <strong>2,5</strong>
                                <span>$/кг</span>
                            </div>
                        </div>
                        <div class="btn-row">
                            <button type="button" class="btn btn-primary">Оставить заявку</button>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="template-card">
                        <div class="img-box">
                            <img src="assets/img/img-delivery-2.png" class="img-card" alt="delivery-2">
                        </div>
                        <h4 class="card-title">Авто - ускоренная</h4>
                        <div class="card-options">
                            <div class="option-list">
                                <div class="option-item"><img src="assets/img/icon-delivery-1.svg" alt="calendar">9-15 дней</div>
                                <div class="option-item"><img src="assets/img/icon-delivery-2.svg" alt="box">от 5 кг</div>
                            </div>
                            <div class="card-price">
                                <span>от</span>
                                <strong>2,5</strong>
                                <span>$/кг</span>
                            </div>
                        </div>
                        <div class="btn-row">
                            <button type="button" class="btn btn-primary">Оставить заявку</button>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="template-card">
                        <div class="img-box">
                            <img src="assets/img/img-delivery-3.png" class="img-card" alt="delivery-3">
                        </div>
                        <h4 class="card-title">Авиа</h4>
                        <div class="card-options">
                            <div class="option-list">
                                <div class="option-item"><img src="assets/img/icon-delivery-1.svg" alt="calendar">9-15 дней</div>
                                <div class="option-item"><img src="assets/img/icon-delivery-2.svg" alt="box">от 5 кг</div>
                            </div>
                            <div class="card-price">
                                <span>от</span>
                                <strong>2,5</strong>
                                <span>$/кг</span>
                            </div>
                        </div>
                        <div class="btn-row">
                            <button type="button" class="btn btn-primary">Оставить заявку</button>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="template-card">
                        <div class="img-box">
                            <img src="assets/img/img-delivery-4.png" class="img-card" alt="delivery-4">
                        </div>
                        <h4 class="card-title">Ж/д</h4>
                        <div class="card-options">
                            <div class="option-list">
                                <div class="option-item"><img src="assets/img/icon-delivery-1.svg" alt="calendar">9-15 дней</div>
                                <div class="option-item"><img src="assets/img/icon-delivery-2.svg" alt="box">от 5 кг</div>
                            </div>
                            <div class="card-price">
                                <span>от</span>
                                <strong>2,5</strong>
                                <span>$/кг</span>
                            </div>
                        </div>
                        <div class="btn-row">
                            <button type="button" class="btn btn-primary">Оставить заявку</button>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="template-card">
                        <div class="img-box">
                            <img src="assets/img/img-delivery-5.png" class="img-card" alt="delivery-5">
                        </div>
                        <h4 class="card-title">Море</h4>
                        <div class="card-options">
                            <div class="option-list">
                                <div class="option-item"><img src="assets/img/icon-delivery-1.svg" alt="calendar">9-15 дней</div>
                                <div class="option-item"><img src="assets/img/icon-delivery-2.svg" alt="box">от 5 кг</div>
                            </div>
                            <div class="card-price">
                                <span>от</span>
                                <strong>2,5</strong>
                                <span>$/кг</span>
                            </div>
                        </div>
                        <div class="btn-row">
                            <button type="button" class="btn btn-primary">Оставить заявку</button>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="slider-template-space">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>