<section class="service secondary-bg">
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>
        <div class="slider-template">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="template-card" style="background-image: url(assets/img/img-service-1.png);">
                        <h4 class="card-title">Выкуп товара</h4>
                        <h6 class="card-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                        <div class="btn-row">
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="template-card" style="background-image: url(assets/img/img-service-2.png);">
                        <h4 class="card-title">Страховка груза</h4>
                        <h6 class="card-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                        <div class="btn-row">
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="template-card" style="background-image: url(assets/img/img-service-3.png);">
                        <h4 class="card-title">Аренда склада</h4>
                        <h6 class="card-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                        <div class="btn-row">
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="template-card" style="background-image: url(assets/img/img-service-4.png);">
                        <h4 class="card-title">Перевод денежных средств</h4>
                        <h6 class="card-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</h6>
                        <div class="btn-row">
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="slider-template-space">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>